<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>

    <footer>
        <div class="ubicacion">
            <img id="ubicacion" src="/images/ubicacionrojo.png" alt="">
            <p>Calle 6 N° 589</p>
        </div>
        <img id="gluna" src="/images/logogrupolonarojo.png" alt="">
        <div class="redes">
            <a href=""><img src="/images/logoinstagram.png" alt=""></a>
            <a href=""><img src="/images/logowhatsapp.png" alt=""></a>
            <a href=""><img src="/images/logoface.png" alt=""></a>
        </div>
    </footer>
    
</body>
</html>