<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacto</title>
    <link rel="stylesheet" href="/stylesheets/contacto.css">
</head>
<body>

    <%- include('../partials/header') %>

    <section id="section4">
        <h1> CONTACTO </h1>
        <div class="enlaces">
            <a href=""><img src="/images/mail.png" alt=""></a>
            <a href=""><img src="/images/logoface.png" alt=""></a>
            <a href=""><img src="/images/logowhatsapp.png" alt=""></a>
            <a href=""><img src="/images/logoinstagram.png" alt=""></a>
        </div>
    </section>


    <%- include('../partials/footer') %>
    
</body>
</html>