<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar</title>
    <link rel="stylesheet" href="/stylesheets/editar.css">
</head>
<body>

    <header>
        <img src="/images/logoinmo.png" alt="">
        <p>Hola, administrador</p>
    </header>

    <section class="producto">
        <div class="imagenes">
            <form>     
                <input type="file" id="imagenes" name="imagenes" multiple accept="image/*" max="10">
            </form>

        </div>
        <div>
                <form method="POST" action="/agregar-producto">
                    <div>
                      <label for="titulo">Título:</label>
                      <input type="text" id="titulo" name="titulo" required>
                    </div>
                    <div>
                      <label for="tipo">Tipo:</label>
                      <select id="tipo" name="tipo" required>
                        <option value="">Seleccione una opción</option>
                        <option value="DEPARTAMENTO">Departamento</option>
                        <option value="CASA">Casa</option>
                        <option value="QUINTA">Quinta</option>
                        <option value="PH">PH</option>
                        <option value="MONOAMBIENTE">Monoambiente</option>
                        <option value="TERRENO">Terreno</option>
                      </select>
                    </div>
                    <div>
                      <label for="direccion">Dirección:</label>
                      <input type="text" id="direccion" name="direccion" required>
                    </div>
                    <div>
                      <label for="habitaciones">Habitaciones:</label>
                      <input type="number" id="habitaciones" name="habitaciones" min="0" required>
                    </div>
                    <div>
                      <label for="baños">Baños:</label>
                      <input type="number" id="baños" name="baños" min="0" required>
                    </div>
                    <div>
                      <label for="m2">M2:</label>
                      <input type="number" id="m2" name="m2" min="0" required>
                    </div>
                    <div>
                      <label for="moneda">Moneda:</label>
                      <select id="moneda" name="moneda" required>
                        <option value="">Seleccione una opción</option>
                        <option value="$">Pesos Argentinos</option>
                        <option value="U$">Dólares Estadounidenses</option>
                      </select>
                    </div>
                    <div>
                      <label for="precio">Precio:</label>
                      <input type="number" id="precio" name="precio" min="0" required>
                    </div>
                    <div>
                      <label for="descripcion">Descripción:</label>
                      <textarea id="descripcion" name="descripcion" maxlength="200"></textarea>
                    </div>
                    <div>
                      <button type="submit" name="accion" value="agregar">Agregar</button>
                      <button type="submit" name="accion" value="editar">Editar</button>
                      <button type="submit" name="accion" value="borrar">Borrar</button>
                    </div>
                  </form>
                  

        </div>
    </section>

    <%- include('../partials/footer') %>
    
</body>
</html>