<!DOCTYPE html>
<html>
  <head>
    <title>GRUPO LUNA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="logo">
      <img src="images/3logogrupoluna.png" alt="logogrupoluna">
    </div>

    <section class="opciones">
      <a href="./inmo">
        <div class="servicios">
          <img src="images/logolunaprop.png" alt="">
        </div>
      </a>
      <a href="./letrado">
        <div class="servicios" id="abogado">
          <img src="images/logolunaabogado.png" alt="">
        </div>
      </a>
    </section>

    <footer>
      <div class="ubicacion">
        <img id="ubicacion" src="images/ubicacion.png" alt="">
        <p>Calle 6 N° 589</p>
      </div>
      <div>
          <img id="gluna" src="images/4logogrupoluna.png" alt="">
      </div>
      <div>
        <p>Copyright 2023</p>
      </div>
    </footer>

  </body>
</html>
