<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/images/grupoluna.ico">
    <title>Luna Inmobiliaria</title>
    <link rel="stylesheet" href="/stylesheets/inmo.css">
</head>
<body>

    <%- include('../partials/header') %>

    <section class="seccion">
        <h1>
            <span>TRANS</span>
            <span>PAREN</span>
            <span>CIA</span>
        </h1>

        <div class="opciones">
                <a class="alquilertemporario" href="./alquilertemporario">ALQUILER TEMPORARIO</a>
            <a class="alquiler" href="./alquiler">ALQUILER</a>
            <a class="venta" href="./venta">VENTA</a>
        </div>

    </section>

    <%- include('../partials/footer') %>
    
</body>
</html>