<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gabriel Eduardo Luna Letrado</title>
    <link rel="stylesheet" href="/stylesheets/letrado.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700" rel="stylesheet">
</head>
<body>

    <nav class="nav-bar">
        <img src="/images/logoletradorojo.png" alt="">
        <button class="abrir-boton" id="abrir">Abrir</button>
        <div class="botones" id="nav">
            <button class="cerrar-menu" id="cerrar">Cerrar</button>
            <button id="section1-btn" >HOME</button>
            <button id="section2-btn" >SERVICIOS</button>
            <button id="section3-btn" >NOSOTROS</button>
            <button id="section4-btn" >CONTACTO</button>
        </div>
    </nav>
    
    <section id="section1">
        <h1 class="move-right">LOREM IPSUM</h1>
        <p class="move-right">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus porro 
        ullam perferendis optio praesentium fugiat earum necessitatibus eum, dignissimos 
        autem saepe vel repudiandae et reiciendis ipsam magni, in ad excepturi!
        </p>
    </section>
    <section id="section2">
        <h2 class="">SERVICIOS</h2>
        <div class="service-1">
            <article class="">
                <h3>Derecho de Familia</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Tenetur quo commodi fugit maxime error, <br>
                    ullam, ad minus earum.
                </p>
            </article>
            <article class="">
                <h3>Sociedades</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Tenetur quo commodi fugit maxime error, <br>
                    ullam, ad minus earum.
                </p>
            </article>
        </div>
        <div class="service-2">
            <article class="">
                <h3>Contratos</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Tenetur quo commodi fugit maxime error, <br>
                    ullam, ad minus earum.
                </p>
            </article>
            <article class="">
                <h3>Suceciones</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Tenetur quo commodi fugit maxime error, <br>
                    ullam, ad minus earum.
                </p>   
            </article>
        </div>
    </section>
    <section id="section3">
        <h2 class="">NOSOTROS</h2>
        <div class="nosotros">
            <h3 id="nombre">Gabriel Eduardo Luna</h3>
            <p class="">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Dolorum impedit cum quisquam temporibus, obcaecati aperiam corrupti 
                velit minus officia ea ipsum omnis accusantium quas cupiditate ab 
                asperiores ut perferendis atque?
            </p>
        </div>
    </section>
    <section id="section4">
        <h2 class=""> CONTACTO </h2>
        <div class="enlaces">
            <a href=""><img src="/images/mail.png" alt=""></a>
            <a href=""><img src="/images/logoface.png" alt=""></a>
            <a href=""><img src="/images/logowhatsapp.png" alt=""></a>
            <a href=""><img src="/images/logoinstagram.png" alt=""></a>
        </div>
    </section>

    <footer>
        <div class="ubicacion">
            <img id="ubicacion" src="/images/ubicacionrojo.png" alt="">
            <p>Calle 6 N° 589</p>
        </div>

        <img id="gluna" src="/images/logogrupolonarojo.png" alt="">

        <div class="redes">
            <a href=""><img src="/images/logoinstagram.png" alt=""></a>
            <a href=""><img src="/images/logowhatsapp.png" alt=""></a>
            <a href=""><img src="/images/logoface.png" alt=""></a>
        </div>
    </footer>
    
    <script src="/javascripts/letrado.js"></script>
</body>
</html>