<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/images/grupoluna.ico">
    <title>Administrador</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <header>
        <img src="/images/logoinmo.png" alt="">
    </header>

    <form class="formulario" method="POST" action="/login">
      <h2>LOGIN</h2>
      <div class="email">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
        <span id="email-error" class="error-message"></span>
      </div>
      <div class="contraseña">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <span id="password-error" class="error-message"></span>
      </div>
      <button type="submit">Ingresar</button>
    </form>



    <%- include('../partials/footer') %>
    
</body>
</html>