<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nosotros</title>
    <link rel="stylesheet" href="/stylesheets/nosotros.css">
</head>
<body>

    <%- include('../partials/header') %>

    <h1>NOSOTROS</h1>
    <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quia nihil veritatis repellat amet vero cupiditate cumque 
        eius repudiandae illum, dignissimos sunt exercitationem 
        magnam reiciendis perspiciatis nostrum fugit fuga, doloribus rerum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quia nihil veritatis repellat amet vero cupiditate cumque 
        eius repudiandae illum, dignissimos sunt exercitationem 
        magnam reiciendis perspiciatis nostrum fugit fuga, doloribus rerum?
    </p>
    
    <%- include('../partials/footer') %>
</body>
</html>