<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Propiedad</title>
    <link rel="stylesheet" href="/stylesheets/propiedad.css">
</head>
<body>

    <%- include('../partials/header') %>

    <section class="propiedad">
        <div class="container">
            <div class="img_container">
                <img  src="/images/interior2.jpg" alt="" class="main_img">
            </div>
            <div class="thumbnail_container">
                <img src="/images/interior2.jpg" alt="" class="thumbnail active">
                <img src="/images/interior1.jpg" alt="" class="thumbnail">
                <img src="/images/interior3.jpg" alt="" class="thumbnail">
                <img src="/images/interior4.jpg" alt="" class="thumbnail">
            </div>
        </div>
        <div class="informacion">
            <h2>HOLA</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Totam vel esse maiores incidunt perferendis nostrum nulla 
                facere repellat consectetur, iusto aliquam consequuntur 
                ratione soluta? Omnis assumenda et exercitationem error 
                odio.
            </p>
        </div>
    </section>

    <%- include('../partials/footer') %>

    <script src="/javascripts/main.js"></script>
    
</body>
</html>