html{
    height: 90%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(../images/fondoinmo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right bottom;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 10px 100px;
}

/*.propiedad{
    display: flex;
    justify-content: space-evenly;
}*/

.propiedad{
    display: flex;
  flex-direction: column;
  align-items: center;
}

/*.propiedad{
    display: block;
}*/

.container{
    width: 100%;
}

.container .img_container{
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /*AGREGADO*/
    /*padding-bottom: 40%;*/
}

.container .img_container .main_img{
    width: 50%;
    border-radius: 5px;
    /*box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);*/
    /*object-fit: cover;*/

    object-fit: contain;
    
}

.container .thumbnail_container{
    /*height: 100px;
    display: flex;
    justify-content: space-between;*/

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /*gap: 10px;*/
}

.container .thumbnail_container .thumbnail{
    width: 6px;
    /*border-radius: 5px;*/
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    flex-basis: calc(100% / 12);
    text-align: center;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-bottom: 6px; 
}

.container .thumbnail_container .thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.container .thumbnail_container .thumbnail:hover{
    opacity: 1;
}

.active{
    opacity: 1 !important;
    /*box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);*/
}

.container_informacion{
    background-color: rgba(219, 217, 217, 0.137);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 60%;
    /*margin-left: 5rem;*/
    padding: 2rem;
    border-radius: 20px;
}

.icono{
    height: 2rem;
}

.titulo{
    display: flex;
}

.titulo h2{
    font-size: 2.5rem;
}

.informacion{
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

.info{
    display: flex;
    align-items: center;
}

.info p{
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.container_informacion p{
    font-size: 1.3rem;
    margin-top: 1.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.precio{
    display: flex;
    color: #750317;
    font-size: 2rem;
    bottom: 0;
    right: 2rem;
    justify-content: end;
}

@media screen and (max-width: 1024px){
    .titulo h2{
        font-size: 1.5rem;
    }

    .icono{
        height: 1.3rem;
    }

    .info p{
        font-size: 1rem;
        margin-top: 1rem;
    }

    .precio{
        font-size: 1.7rem;
    }

    .container .thumbnail_container .thumbnail{
        width: 20%;
        height: 80%;
    }

    .propiedad{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px){
    body{
        padding: 20px 30px;
    }

    .titulo h2{
        font-size: 1.2rem;
    }

    .icono{
        height: 1.1rem;
    }

    .info p{
        font-size: 1rem;
        margin-top: 1rem;
    }

    .container_informacion p{
        font-size: 1.1rem;
        margin-top: 1.2rem;
    }

    .precio{
        font-size: 1.3rem;
    }

    .container{
        width: 40%;
    }
}

@media screen and (max-width: 425px){
    .propiedad{
        display: block;
        justify-content: center;
    }

    .icono{
        height: 1.5rem;
    }

    .container{
        width: 100%;
    }

    .container .thumbnail_container .thumbnail{
        width: 20%;
        height: 100%;
    }

    .container_informacion{
        width: 90%;
        margin-left: 0;
        height: 240px;
        margin-top: 2rem;
    }

    .titulo h2{
        font-size: 1.5rem;
    }


    .info p{
        font-size: 1.2rem;
    }

    .container_informacion p{
        font-size: 1.3rem;
    }

    .precio{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 375px){
    .container .thumbnail_container .thumbnail{
        width: 20%;
        height: 90%;
    }

    .icono{
        height: 1.4rem;
    }

    .info p{
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 320px){
    .container .thumbnail_container .thumbnail{
        width: 20%;
        height: 70%;
    }

    .container_informacion{
        height: 300px;
        margin-top: 1rem;
        padding: 0;
        width: 100%;
    }
}
